<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.gemoc.gemoc_language_workbench.engine_addon">
    <Addon Class="org.eclipse.gemoc.event.commons.interpreter.property.PropertyMonitor" Default="false" id="fr.inria.diverse.property.propertymonitor" Name="Property Monitor" ShortDescription="Monitoring addon for properties on executed models" AddonGroupId="Sequential.AddonGroup" />
  </extension>
</plugin>