<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="org.gemoc.executionframework.eventmanager">
      </category>
      <view
            name="Event Manager"
            icon="icons/IconeGemocModel-16.png"
            category="org.gemoc.executionframework.eventmanager"
            class="org.gemoc.executionframework.eventmanager.views.EventManagerViewPart"
            id="org.gemoc.executionframework.eventmanager.views.EventManager">
      </view>
   </extension>
   <extension
         point="org.gemoc.gemoc_language_workbench.engine_addon_group">
      <AddonGroup
            Name="Sequential"
            id="Sequential.AddonGroup">
      </AddonGroup>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <viewShortcut
               id="org.gemoc.executionframework.eventmanager.views.EventManager">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.sirius.ui.tools.perspective.modeling">
         <viewShortcut
               id="org.gemoc.executionframework.eventmanager.views.EventManager">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
