<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.gemoc.xdsmlframework.ide.ui.perspective.XDSMLPerspectiveFactory"
            icon="icons/IconeGemocLanguage-16.png"
            id="org.gemoc.xdsmlframework.ide.ui.xdsml.perspective"
            name="xDSML">
      </perspective>
   </extension>

</plugin>
