<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gemoc.opsemanticsview.gen">
      <org.eclipse.gemoc.opsemanticsview.gen
            class="org.eclipse.gemoc.opsemanticsview.gen.k3.K3OperationalSemanticsViewGenerator">
      </org.eclipse.gemoc.opsemanticsview.gen>
   </extension>

</plugin>
