<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GenericTrace -->
      <package
            uri="http://www.gemoc.org/generic_trace"
            class="fr.inria.diverse.trace.commons.model.trace.TracePackage"
            genModel="model/GenericTrace.genmodel"/>
   </extension>

</plugin>
