<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated all -->
      <package
            uri="http://mmTrace/1.0"
            class="mmTrace.MmTracePackage"
            genModel="tmp/all.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tracemm -->
      <package
            uri="http://fsm_exefsm_ext/1.0"
            class="fsm_exefsm_ext.Fsm_exefsm_extPackage"
            genModel="tmp/tracemm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated all -->
      <package
            uri="http://mm_mmExt_diff/1.0"
            class="mm_mmExt_diff.Mm_mmExt_diffPackage"
            genModel="tmp/all.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated all -->
      <package
            uri="http://pack_ext/1.0"
            class="mm_mmExt_diff.pack_ext.Pack_extPackage"
            genModel="tmp/all.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated all -->
      <package
            uri="http://test/1.0"
            class="test.TestPackage"
            genModel="tmp/all.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated all -->
      <package
            uri="http://mm/1.0"
            class="mm.MmPackage"
            genModel="tmp/all.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated all -->
      <package
            uri="http://mmsub/1.0"
            class="mm.mmsub.MmsubPackage"
            genModel="tmp/all.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mm_ext -->
      <package
            uri="http://blop/1.0"
            class="blop.BlopPackage"
            genModel="test/mm_ext.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mm_ext -->
      <package
            uri="http://pack_ext/1.0"
            class="blop.pack_ext.Pack_extPackage"
            genModel="test/mm_ext.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mm_ext -->
      <package
            uri="http://mmsub/1.0"
            class="blop.mmsub.MmsubPackage"
            genModel="test/mm_ext.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated exefsm -->
      <package
            uri="http://exefsm/1.0"
            class="exefsm.ExefsmPackage"
            genModel="test-fsm/exefsm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fsm -->
      <package
            uri="http://fsm/1.0"
            class="fsm.FsmPackage"
            genModel="test-fsm/fsm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MMExtension -->
      <package
            uri="http://mmextension/1.0"
            class="mmextension.MmextensionPackage"
            genModel="model/MMExtension.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ecorext -->
      <package
            uri="http://ecorext/1.0"
            class="ecorext.EcorextPackage"
            genModel="model/ecorext.genmodel"/>
   </extension>

</plugin>
