<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
          id="org.gemoc.gemoc_modeling_workbench.ui.breakpoint.breakpointMarker"
          point="org.eclipse.core.resources.markers">
       <persistent
             value="true">
       </persistent>
       <super
             type="fr.obeo.dsl.debug.ide.breakpointMarker">
       </super>
       <attribute
             name="org.gemoc.gemoc_modeling_workbench.ui.breakpoint.breakOnLogicalStep">
       </attribute>
       <attribute
             name="org.gemoc.gemoc_modeling_workbench.ui.breakpoint.breakOnMSE">
       </attribute>
    </extension>
    <extension
          point="org.eclipse.debug.core.breakpoints">
       <breakpoint
             class="org.gemoc.executionframework.engine.debug.ui.breakpoint.GemocBreakpoint"
             id="org.gemoc.gemoc_modeling_workbench.ui.breakpoint.gemocBreakpoint"
             markerType="org.gemoc.gemoc_modeling_workbench.ui.breakpoint.breakpointMarker"
             name="Gemoc Breakpoints">
       </breakpoint>
    </extension>

 <extension
       point="org.eclipse.debug.ui.detailPaneFactories">
    <detailFactories
          class="org.gemoc.executionframework.engine.debug.ui.breakpoint.BreakpointDetailPaneFactory"
          id="org.gemoc.gemoc_modeling_workbench.ui.breakpoint.detailFactories">
       <enablement>
          <with
                variable="selection">
             <count
                   value="1">
             </count>
             <iterate>
                <instanceof
                      value="org.gemoc.executionframework.engine.debug.ui.breakpoint.GemocBreakpoint">
                </instanceof>
             </iterate>
          </with>
       </enablement>
    </detailFactories>
 </extension>
 <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.gemoc.executionframework.engine.ui.debug.semanticsopener.commands.openSemantics"
            contextId="org.eclipse.debug.ui.debugging"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.gemoc.executionframework.engine.ui.debug.semanticsopener.commands.openSemantics"
            name="Open Semantics">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.gemoc.executionframework.engine.ui.debug.semanticsopener.OpenSemanticsHandler"
            commandId="org.gemoc.executionframework.engine.ui.debug.semanticsopener.commands.openSemantics">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.debug.ui.DebugView">
         <command
               commandId="org.gemoc.executionframework.engine.ui.debug.semanticsopener.commands.openSemantics"
               label="Open Semantics">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.gemoc.executionframework.engine.ui.debug.sirius.action.GemocToggleBreakpointAction"
            id="org.gemoc.executionframework.engine.ui.debug.sirius.action.GemocToggleBreakpointAction">
      </javaActions>
   </extension>
</plugin>
