<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scenario -->
      <package
            uri="http://www.gemoc.org/scenario"
            class="fr.inria.diverse.event.commons.model.scenario.ScenarioPackage"
            genModel="model/scenario.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated property -->
      <package
            uri="http://www.gemoc.org/property"
            class="fr.inria.diverse.event.commons.model.property.PropertyPackage"
            genModel="model/property.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated report -->
      <package
            uri="http://www.gemoc.org/report"
            class="fr.inria.diverse.event.commons.model.report.ReportPackage"
            genModel="model/report.genmodel"/>
   </extension>

</plugin>
