<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="State Graph View"
            icon="icons/IconeGemocModel-16.png"
            class="org.eclipse.gemoc.sequential_addons.stategraph.views.StateGraphViewPart"
            id="org.eclipse.gemoc.sequential_addons.stategraph.views.StateGraphViewPart">
      </view>
   </extension>
   <extension
         point="org.eclipse.elk.core.service.layoutConnectors">
      <setup
            class="org.eclipse.gemoc.sequential_addons.stategraph.layout.StateGraphLayoutSetup">
      </setup>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated stategraph -->
      <package
            uri="http://stategraph/"
            class="org.eclipse.gemoc.sequential_addons.stategraph.model.stategraph.StategraphPackage"
            genModel="model/stategraph.genmodel"/>
   </extension>

</plugin>
