<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated eolfootprint -->
      <package
            uri="http://xmof/mmfootprint/eol/1.0"
            class="fr.inria.diverse.tracemm.xmof.footprint.mmfootprinteol.MmfootprinteolPackage"
            genModel="model/eolfootprint.genmodel"/>
   </extension>

</plugin>
