<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated opsemanticsview -->
      <package
            uri="http://opsemanticsview/1.0"
            class="opsemanticsview.OpsemanticsviewPackage"
            genModel="model/opsemanticsview.genmodel"/>
   </extension>

</plugin>
