<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="State Graph View"
            icon="icons/IconeGemocModel-16.png"
            class="org.gemoc.sequential_addons.stategraph.views.StateGraphViewPart"
            id="org.gemoc.sequential_addons.stategraph.views.StateGraphViewPart">
      </view>
   </extension>

</plugin>
