<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated property -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.inria.diverse.event.commons.model.property.presentation.PropertyModelWizardID"
            name="%_UI_PropertyModelWizard_label"
            class="fr.inria.diverse.event.commons.model.property.presentation.PropertyModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PropertyModelFile.gif">
         <description>%_UI_PropertyModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated property -->
      <editor
            id="fr.inria.diverse.event.commons.model.property.presentation.PropertyEditorID"
            name="%_UI_PropertyEditor_label"
            icon="icons/full/obj16/PropertyModelFile.gif"
            extensions="property"
            class="fr.inria.diverse.event.commons.model.property.presentation.PropertyEditor"
            contributorClass="fr.inria.diverse.event.commons.model.property.presentation.PropertyActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated report -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.inria.diverse.event.commons.model.report.presentation.ReportModelWizardID"
            name="%_UI_ReportModelWizard_label"
            class="fr.inria.diverse.event.commons.model.report.presentation.ReportModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ReportModelFile.gif">
         <description>%_UI_ReportModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated report -->
      <editor
            id="fr.inria.diverse.event.commons.model.report.presentation.ReportEditorID"
            name="%_UI_ReportEditor_label"
            icon="icons/full/obj16/ReportModelFile.gif"
            extensions="report"
            class="fr.inria.diverse.event.commons.model.report.presentation.ReportEditor"
            contributorClass="fr.inria.diverse.event.commons.model.report.presentation.ReportActionBarContributor">
      </editor>
   </extension>
</plugin>
